@model HospitalManagement.Models.RoleViewModel
@{
    Layout = "~/Views/Master View/_Layout.cshtml";
}

<div class="page-wrapper">
    @using (Html.BeginForm())
    {
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Add Role</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form>
                        @Html.HiddenFor(model => model.id)
                        <div class="form-group">
                            <label>Role Name</label>
                            @Html.TextBoxFor(c => c.roleName, Model.roleName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.roleName)
                        </div>
                        <div class="m-t-20 text-center">
                            <input class="btn btn-primary submit-btn" type="submit" value="Save" />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                @if (ViewBag.Message != null)
                                {
                                    <h3>
                                        <b>
                                            @ViewBag.Message;
                                        </b>
                                    </h3>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
